/* Write your CSS here! */
h1 {
  font-size: 50px;
  font-family: Trebuchet MS;
  text-align: center;
  text-transform: uppercase;
}

#mainHeading {
color:rgb(255,0,0);
}

#main-menu {
list-style-type: none;
margin: 0%;
padding: 0%;
overflow: hidden;
background-color: gold;
border: 2px solid black;
}

#main-menu li {
float: left;
}

#main-menu li a {
display:block;
padding: 20px;
text-align: center;
text-transform: uppercase;
font-family: Trebuchet MS;
font-size: 25px;
font-weight: 400;
letter-spacing: 1px;
color:black;
text-decoration-line: none;
}


#main-menu li a:hover {
background-color:black;
color: wheat;
padding:20px;
}

/* h2{
margin-top: 100px; 
margin-bottom: 0;
margin-left: 50px;
font-family: arial;
text-transform: capitalize;
margin-top: 100px; */

}

body {
display: block;
margin: 8px;
}

/* p {
position: absolute;
left: 0;
width:500px;
padding:150px;
text-align: justify;
font-size: 20px;
margin-top:200px;
} */

img {
position: absolute;
right:0;
bottom: 100px;
width: 400px;
height: 400px;
padding:100px;
object-fit: contain;
}

ul {
 font-size: 20px;
}

.funParagraph {
  color:rgb(0,128,0);
}

 
  